*{

    margin: 0;
    padding: 0;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 36, 36);

}h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    font-size:4em  ;
    color:rgb(2, 255, 234);

}
.typewriter{
    position: relative;

}
.typewriter::after{
    content: '|';
    position:absolute;
    right: 0;
    
    color: white;
    background-color: rgb(41, 36, 36);
    width: 100%;
    animation: typing 2s steps(30) alternate infinite,
             line 1s infinite  ;

}
@keyframes typing{
    to{
        width:0;
    }
}
@keyframes line{
    50%{
        color: transparent;
    }
}
span{
    color: blue;
}